.headerSelect {
  margin-top: 3%;
  padding-left: 0;
}



.boxAttractions {
  display: block;
  background-color: #eeeeee;
  width: 347px;
  height: 145px;

}

.titoloSection {
  padding-top: 20px;
}

.titoloAttractions {
  padding-top: 9px;
  text-align: center;
  vertical-align: middle;
  background-color: #dddddd;

}

.titoloAttractions, .selectAttractions {
  display: block;
  margin: 0 auto;
  width: 332px;
  height: 35px;
}

.testoTitoloAttractions {
  top:50%;
}

.selectTitoloAttractions {
  padding-top: 7%;
  text-align: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.sectionTabs {
  padding-left: 60px;
  padding-right: 0;
}

li:not(.active) {
  background-color: #eeeeee;
}

li.active, li {
  background-color: white;
  border-top: 1.5px solid #dddddd;
  border-left: 1.5px solid #dddddd;
  border-right: 1.5px solid #dddddd;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#about, #direction {
  border-top: none;
}


ul.nav.nav-tabs li.active a{
border:none;
}



ul.nav.nav-tabs li:not(.active) {
  border:none;
}

ul.nav.nav-tabs li.active {
  border-bottom:none;
  border-top: 2px solid #dddddd;
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
}



ul.nav.nav-tabs a {

  border-bottom: none;
  margin-left: 0;
  width: 170px ;
  height: 32px;
  color: black;
  font-weight: 200;
}


/**--PARTE TAB FROM-TO--**/

.selectTabFromTo {
  margin-top: 16px;
}

.containerSelectTab {
  position: relative;
}

.labelSelect {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.containerArrowButton {
  position: relative;
  height: 200px;
}

.changeArrowButton {
  height: 42px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.labelSelect {
  height: 30px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

select.selectAttractions {
  background-color: white;
  border-radius: none;
}

.labelSelect {
  padding: 0;
  margin: 0;
}


/**--PARTE BODY--**/

.titleBody {
  margin-top: 100px;

  position: relative;
  height: 47px;
  background-color: #2196f3;
  color: white;
  text-transform: uppercase;
}

.titleBody span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;

}

.arrow-down {
  margin-left:20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2196f3;
  margin-bottom: 40px;
}

.sectionNews {
  width: 376px;
  height: 140px;
  border-top: 1.5px solid #dddddd;
  border-bottom: 1.5px solid #dddddd;
}

.containerImmagine, .sectionNews, .bodyCentral {
  padding-left:0;
}

.containerImmagine {
  padding-right: 0;
    margin-bottom:17px;
}

.containerInfoNews {
  margin-top: 36px;
  margin-bottom:17px;
}

.immagineNews {
  width: 122px;
  height: 81px;
  margin-top: 36px;

}

.titoloNews {
  font-size: 17px;
  font-weight:500;
  padding-bottom: 17px;

}

.dataNews {
  color: #dddddd;
  font-style:italic;

}
